:root {
    --white: #ffffff;
    --search-box: #DB1E8C;
    --search-box-text: #FF97D3;
    --bg-color: #858585;
    --header-title-color: #0000EE;
    --card-title-color: #364372;
    --text-color: #000000;
    --button-color: #264FEC;
    --bg-card-color: #F5F5F5;
    --icon-footer-color: #0A1B36;
}

.container {
    width: 66%;
    margin: 0 auto;
}