:root {
    --white: #ffffff;
    --shearch-box: #DB1E8C;
    --bg-color: #858585;
    --header-title-color: #0000EE;
    --card-title-color: #364372;
    --text-color: #000000;
    --button-color: #264FEC;
    --bg-card-color: #F5F5F5;
    --icon-footer-color: #0A1B36;
}